<DOCTYPE = html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

<div class="p-5 bg-primary text-white">
  <h1>{{ banner }}</h1>
  <p>{{ banner_sub }}</p> 
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
    </ul>
  </div>
</nav>

<div class="container mt-5 text-center">
  <div class="row">
    {% block content %}

    <h1>{{ content }}</h1>

    {% endblock content %}
  </div>
</div>

<div class="p-5 bg-primary text-white text-center">
  <p>  </p>
  <p>  </p>
  <p>  </p>
  <h2>{{ footer }}</h2>
  <p>{{ banner_sub }}</p> 
</div>

</body>
</html>