{% extends "base.html" %}

{% block content %}


<p></p>
<p></p>
<p></p>
<h1>Today's forecast calls for...</h1>
<p></p>
<p></p>
<p></p>
<h2>{{ content }}</h2>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>

{% endblock content %}